<h1>Our company</h1>
<span class="big">A story about our company</span>
<div class="pusher"></div>
<p>
    "WEX PHARM CONSULT" Ltd.<br />
    is a team of high qualified experienced professionals in different sectors of the pharmaceuticalmarket, providing distribution and a wide range of consulting services.
</p>