<h1>Who are we?</h1>
<span class="big">We are the experts <br />of pharmaceutical industry</span>
<div class="pusher"></div>
<img alt="eFaqt Asssignment" src="images/logo_300.png" />
<p>
    "WEX PHARM CONSULT" Ltd.<br />
    is a team of high qualified experienced professionals in different sectors of the pharmaceuticalmarket, providing distribution and a wide range of consulting services.
</p>