<section id="logo-menu">
	<a id="logo" href="#">
		<img alt="eFaqt Asssignment" src="images/logo_130.png" />
	</a>
	<div id="menu-collapse">
		Menu <img src="http://f.cl.ly/items/1U2c3b1215383h3a2T2r/icon-menu.svg"/>
	</div>
</section>
<nav>
	<ul class="nav">
		<li id="home"><a href="#">Home</a></li>
		<li id="products"><a href="#products">Products</a></li>
		<li id="company"><a href="#company">Company</a></li>
		<li id="contact"><a href="#contact">Contact</a></li>
	</ul>
</nav>