#fonts {
  .calibri () {
    font-family: Calibri, Helvetica, Arial, sans-serif;
  }

  .helvetica () {
    @font-regular: 'HelveticaNeueLTStd';
    .font-face('HelveticaNeueLTStd', @path-fonts, 'HelveticaNeueLTStd Lt');
    font-family: @font-regular;
  }
}