.font-face(@fontFamily, @path, @fileName) {
  @font-face {
    font-family: @fontFamily;

    src: url('@{path}/@{fileName}.eot');
    src: url('@{path}/@{fileName}.eot?#iefix') format('embedded-opentype'),
    url('@{path}/@{fileName}.woff') format('woff'),
    url('@{path}/@{fileName}.ttf') format('truetype'),
  }
}

.active-menu-item-link {
  background-color: @green-light;
  @media (min-width: @screen-md-min) {
    background-image: url("@{path-images}/home-active.png");
    background-position: 90% center;
    background-repeat: no-repeat;
  }
  color:@white;
}

.active-menu-item-li{
  @media (min-width: @screen-sm) {
    content: url("@{path-images}/arrow.png");
    position: absolute;
    right: -2px;
    top: 0;
  }
}

.font-size-lh(@size){
  font-size: @size;
  line-height: @size;
}