* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  height:100%;
}

body {
  #fonts > .calibri;
  height: 100%;
  @media (min-width: @screen-lg-min) {
    font-size: @font-size-base * 1.9;
  }
}

h1 {
  color: @red;
  font-weight: bold;
}

span.big{
  .font-size-lh(@font-size-big);
  @media (min-width: @screen-lg-min) {
    .font-size-lh(@font-size-big*1.9);
  }
  font-weight: bold;
  color: @green-dark;
  text-transform: uppercase;
}

#wrapper {
  .container;
  height:100%;
  padding:0;
  #sidebar {
    .make-sm-column(3);
    background-color: @gray-lighter;
    padding: 0;
    #logo-menu{
      position: relative;
      #logo{
        .center-block;
        padding: 20px 0;
        img {
          .center-block;
          height:60px;
        }
      }
      #menu-collapse{
        .hidden-sm;
        .hidden-md;
        .hidden-lg;
        position: absolute;
        right: 20px;
        top:40px;
      }
    }
    nav
    {
      .hidden-xs;
      li.active{
        a{
          .active-menu-item-link;
        }
        &:after{
          .active-menu-item-li;
        }
      }
      li {
        a {
          #fonts > .helvetica;
          text-align: center;
          border-top: solid 2px @green-dark;
          color: @green-dark;
          font-size: @font-size-fixed;
          &:hover, &:active{
            .active-menu-item-link;
          }
        }
        &:last-child {
          a{
            border-bottom: @green-border;
          }
        }
        &:hover:after, &:active:after {
          .active-menu-item-li;
        }
        @media (min-width: @screen-md-min) {
          a {
            background: url("@{path-images}/home.png") no-repeat 90% center;
          }
        }
      }
    }
    @media (min-width: @screen-sm) {
      height:100%;
      min-height: 100%;
      #logo-menu{
        #logo{
          img {
            height:100%;
          }
        }
      }
      nav {
        margin: 60px -18px 0 20%;
        li {
          padding-right: 18px;
          a{
            text-align: inherit;
            padding: 20px 0 20px 30%;
          }
        }
      }
    }
  }

  main {
    .make-sm-column(9);
    padding-bottom: @footer-height+15;
    #placeholders {
      .make-row;
      .hidden-xs;
      .hidden-sm;
      .hidden-md;
      .clearfix;
      #gradient > .directional(#5d8ea9; #bfcfd1; 135deg);
      height: @placeholder-height;
      aside {
        .make-md-column(3);
        .make-xs-column(6);
        border-right: @green-border;
        height: 100%;
        text-align: center;
        padding-top: @placeholder-padding;
        h4 {
          #fonts > .helvetica;
          color: @green-dark;
          font-size: @font-size-fixed;
        }
      }
    }

    article {
      .clearfix;
      padding: 0 20px;
      word-wrap: break-word;
      img{
        .center-block;
        float: right;
        clear: right;
        margin: 0 40px 0 100px;
        width:35%;
      }
      .pusher{
        float: right;
        height: 190px;
        width: 0px;
      }
      @media (min-width: @screen-lg-min) {
        p{
          line-height: @font-size-base * 2.1;
          margin-top: 20px;
        }
      }
    }
  }
}

footer{
  position:fixed;
  bottom:0;
  width:100%;

  div {
    #gradient > .directional(#5d8ea9; #bfcfd1; 135deg);
    color: @white;
    font-size: 15px;
    text-align: center;
    height: @footer-height;
    line-height: @footer-height;
    position:relative;
    width:100%;
  }

  @media (min-width: @screen-md-min) {
    .container;
    left:50%;
    padding:0;
    div {
      left:-50%;
    }
  }
}


