//
// Variables
// --------------------------------------------------

//== Colors

@white: #fff;
@green-light: #78a9bb;
@green-medium: #537996;
@green-dark:#335376;
@red: #ff0000;

//== Sizes

@placeholder-height: 220px;
@placeholder-padding: 60px;
@footer-height: 43px;

//== Fonts

@font-size-base: 16px;
@font-size-fixed: 16px;
@font-size-big: @font-size-base*1.6;


//== Other

@green-border: solid 2px @green-medium;

//== Paths

@path-images: '../../images';
@path-fonts: '../../fonts';